.advantages {
    margin: 70px 0;
    width: 100%;
}

.advantages__foto-wrapper {
    height: 300px;
    position: relative;
}

.advantages__foto {
    width: 100%;
    height: 100%;
    background-image: url("../img/1366kh668_min.jpg");
    background-repeat:no-repeat;
    filter: brightness(0.2);
    background-size: cover;
}

.advantages__btn {
    width: auto;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
}



/*.advantages__foto-btn {
    width: auto;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 185%;
    left: 25%;
    border-radius: 5px;
}*/

.advantages__btn:hover {
    background-color: white;
    color: black;
}

@media screen and (min-width:481px) {
    .advantages {
        display: flex;
        width: 100%;
    }

    .advantages__block {
        width: 50%;
    }

    .advantages__foto-wrapper {
        height: auto;
    }

    .advantages__foto {
        width: 100%
        height: 100%
    }

    .advantages__foto-btn {
        top: 115%;
        left: 70%;
    }
}