.footer {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 15px;
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
}

/*.footer::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 60px;
    left: 0px;
}*/

.links__github {
    margin-right: 20px;
}

.links__github,
.links__linkedin {
    font-size: 30px;
    color: black;
}

.links__github:hover,
.links__linkedin:hover {
    color:blueviolet;
}

.year__description {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0 10px;
}

.footer-logo {
    width: 50px;
}

@media screen and (min-width:481px) {
    .footer{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .footer-logo {
        width: 70px;
    } 

    .links__github,
    .links__linkedin {
        font-size: 40px;
        color: black;
    }

    .year__description {
        font-size: 16px;
        padding-top: 20px;
    }
}