body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header {
    position: relative;
    display:flex;
    flex-direction: column;
}

/*.header {
    background-image: url("../img/1920kh1080_min.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 300px;
   filter: blur(5px);
}*/

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/1920kh1080_min.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}


.header__menu {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    
}

.header__menu:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0px;
}

.header__logo {
    width: 50px;
    z-index: 1;
}

.header__tels {
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: "Arial", sans-serif;
    color: black;
    font-weight: 500;
    z-index: 3;
}

.header__tel {
    margin: 0;
}

.header__menu-toggle {
    opacity: 0;  
}

.list__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    position:relative;
    margin-top: -35px;
    cursor: pointer;
    
}

.menu-toggle__line,
.menu-toggle__line::before,
.menu-toggle__line::after {
    
    width: 100%;
    height: 3px;
    background-color:#404040;
}

.menu-toggle__line::before {
    content: "";
    top: 1px;
    position: absolute;
}

.menu-toggle__line::after {
    content: "";
    position: absolute;
    bottom: 1px;
}

.header__menu-items {
    list-style: none;
    display: none;
}

.menu-items__block {
    background-color: slategrey;
    opacity: 0.75;
    padding: 5px;
}

.header__menu-item {
    text-decoration: none;
    font-size: 26px;
    line-height: 1.5em;
    font-family: "Arial", sans-serif;
    color: white;
    font-weight: 700;
    padding: 3%;
}

.header__menu-item:hover {
    text-shadow: 1px 1px rgba(0, 0, 0,56);
}

.header__burger-menu {
    position: relative;
    margin-top: 20px;
}

.header__menu-toggle:checked ~ .header__menu-items {
    display: block;
    position: absolute;
    left: -360px;
    top: 50px;
    width: 400px;
    margin: 0;
}
.header__menu-toggle:checked ~ .list__btn > .menu-toggle__line {
    transform: rotate(45deg);
    top: 0;
}

.header__menu-toggle:checked ~ .list__btn > .menu-toggle__line::after {
    transform: rotate(90deg);
    top: 0;
}

.header__menu-toggle:checked ~ .list__btn > .menu-toggle__line::before {
   opacity: 0;
}

.header__timer {
    width: 300px;
    height: 300px;
    background-color: pink;
    z-index: 2;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
}

.advantages {
    margin: 30px 0;
    width: 100%;
}

.items__header {
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
    font-size: 26px;
}

.list__items {
    margin: 0;
    padding-right: 40px;
}

.list__item {
    font-size: 18px;
    text-align: justify;
    padding-bottom: 30px;
}


.advantages__foto {
    width: 100%;
    height: 300px;
    background-image: url("../img/1366kh668_min.jpg");
    background-repeat:no-repeat;
    filter: brightness(0.2);
    position: relative;
}

.advantages__foto-btn {
    width: auto;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 35%;
    left: 30%;
}


@media screen and (min-width:481px) {
    .header::before {
        height: 100%;
    }

    .header__menu {
        width: 90%;
        margin: 0 auto;
        padding: 2% 0 2% 0;
    }

    .header__menu::after {
        top: 100px;
    }

    .header__logo {
        width: 100px;
    }
    
    .header__tels {
        padding: 5px 0 0 5px;
        order: 3;
    }

    .header__tel {
        font-size: 18px;
        line-height: 1.5;
        white-space: nowrap;
    }

    .header__burger-menu {
        margin-top: 0;
    }

    .list__btn {
        display: none;
    }

    .header__menu-items {
        display: flex;;
        margin: 0 5px;
        padding: 0;
    }

    .menu-items__block {
        background-color: transparent;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 0 10px;
    }

    .header__menu-toggle {
        display: none;
    }

    .header__menu-item {
        color: black;
        font-size: 18px;
        line-height: 1.5;
        font-family: "Arial", sans-serif;
        font-weight: 500;
        padding: 0;
    }

    .advantages {
        display: flex;
        width: 100%;
    }

    .advantages__block {
        width: 50%;

    }

    .list__item {
        padding-right: 20px;
    }

    .items__header {
        font-size: 32px;
    }

    .list__item {
        font-size: 22px;
    }

    .advantages__foto {
        max-width: 960px;
        min-height: 360px;
        background-image: url("../img/1366kh668_min.jpg");
        background-size: cover;
    }

    .advantages__foto-btn {
        top: 45%;
        left: 40%;
    }

}


