.loan {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.loan__item {
    width: 30%;
    margin: 0 2%;
}

.item__icon {
    font-size: 300%;
    text-align: center;
    color:green;
    margin-bottom: 30px;
}

.item__undericon-text {
    text-align: center;
    margin: 0;
}

@media screen and (min-width:481px) {
    .item__icon {
        font-size: 500%;
        text-align: center;
        color:green;
        margin-bottom: 30px;
    }

    .item__undericon-text {
        font-size: 20px;
    }
}

